<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cust_id %>
    <%= form.text_field :cust_id, id: :sale_cust_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :sale_product_id %>
  </div>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :sale_product_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :sale_date %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :sale_price %>
  </div>

  <div class="field">
    <%= form.label :qty %>
    <%= form.text_field :qty, id: :sale_qty %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
